<!--<div ng-drop="true" ng-drop-success="dropComplete($index,$data,$event)" ng-repeat="item in waybillList">-->
    <!--<li ng-drag="true" ng-drag-data="item" >-->
        <!--姓名：{{item.name}}，年龄：{{item.age}}-->
    <!--</li>-->
<!--</div>-->

<div>
    <k-table ktabledata="waybillList">
        <k-col laebl="全选">
            <input name="radio" type="checkbox" value="{{row.id}}">
        </k-col>
        <k-col laebl="No.">
            {{$index+1}}
        </k-col>
        <k-col laebl="姓名" prop="name"></k-col>
        <k-col laebl="年龄" prop="age"></k-col>
        <k-col laebl="性别" prop="sex"></k-col>
        <k-col laebl="身高" prop="height"></k-col>
        <k-col laebl="体重">{{weight | filter: yy-dd-mm}}</k-col>
        <k-col laebl="钱" prop="money"></k-col>
        <k-col laebl="操作">
            <button ng-click="delete()">删除</button>
            <button ng-click="edit()">编辑</button>
        </k-col>

    </k-table>
</div>